@media only screen and (max-width: 1024px){
 
}

@media only screen and (max-width: 768px){
    #login{
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .login-form{
        display: block;
        transform: translateX(-30px);
    }
    .intro-2{
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 540px){
    .info-div{
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: center;
    }
    .state{
        height: 400px;
    }
    .state-row{
      display: flex;
      flex-direction: column-reverse;
    }
    .about-div{
        display: flex;
        flex-direction: column-reverse;
    }
}